<form class="form" method="POST">

    <div class="form-group padding-bt-2">
      <!-- <label for="exampleFormControlInput1">Name</label> -->
      <input type="text" class="form-control" id="pname" placeholder="Name" name="pname">
    </div>

    <div class="form-group padding-bt-2">
      <!-- <label for="exampleFormControlInput1">Email address</label> -->
      <input type="number" class="form-control" id="pmobile" placeholder="Enter Phone Number" name="pmobile">
    </div>

    <div class="form-group padding-bt-2">
      <!-- <label for="exampleFormControlInput1">Email address</label> -->
      <input type="email" class="form-control" id="pemail" placeholder="Enter Email" name="pemail">
    </div>
    
    <div class="form-group padding-bt-10">
      <!-- <label for="exampleFormControlTextarea1">Message</label> -->
      <textarea class="form-control" id="pmessage" rows="3" placeholder="Your Message" name="pmessage"></textarea>
    </div>

    <button type="submit" class="contact__btn-send">Send</button>
  </form>