<!--========== FOOTER ==========-->
<footer class="footer bd-container">
    <div class="footer__container">
      <div class="footer__social">
        <a class="footer__logo" href="/"><i class="fa-brands fa-twitter footer__logo-i"></i></a>
        <a class="footer__logo" href="/"><i class="fa-brands fa-facebook-f footer__logo-i"></i></a>
        <a class="footer__logo" href="/"><i class="fa-brands fa-instagram footer__logo-i"></i></a>
      </div>
      <p class="footer__signature">
        &#169; 2023 HappyCoding. All right reserved.
      </p>
    </div>
  </footer>