<!--========== HEADER ==========-->
<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="#" class="nav__logo"><img class="logo" src="/images/background.png"></a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link" id="item-home">Home</a></li>
                <li class="nav__item"><a href="/about" class="nav__link" id="item-about">About me</a></li>
                <li class="nav__item"><a href="/services" class="nav__link" id="item-services">Services</a></li>
                <li class="nav__item"><a href="/projects" class="nav__link" id="item-projects">Projects</a></li>
                <li class="nav__item"><a href="/contact" class="nav__link" id="item-contact">Contact me</a></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="fa-solid fa-bars"></i>
        </div>
    </nav>
  </header>