<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<main class="l-main projects-lmain">
    <section class="grocery bd-container" id="grocery">
        <div class="project-card projects-bd-flex">
            <div class="project-card-img">
                <img src="images/oshop.png" alt="grocery">
            </div>
            <div class="project-card-component">
                <div class="project-card-article">
                    <h1>OSHOP</h1>
                    <h3>
                        The project involves building an online grocery website. The website will is developed with Angular frontend framework for the client-side, web API powered by Node.js, and data is stored and managed by using MongoDB.
                    </h3>
                    <p>The integration of Angular, Node.js, and MongoDB provides a powerful stack for building a scalable and responsive online grocery website. This technology combination enables me to create a modern and intuitive user interface, develop a robust backend API for managing business processes, and efficiently store and retrieve data by using MongoDB. With these tools, I'm able to deliver a online shopping experience for customers, allowing them to browse and purchase groceries with ease.</p>
                </div>
                
            </div>
            
        </div>
    </section>

    <section class="restaurant bd-container" id="restaurant">
        <div class="project-card projects-bd-flex">
            <div class="project-card-img">
                <img src="images/restaurant.png" alt="grocery">
            </div>
            <div class="project-card-component">
                <div class="project-card-article">
                    <h1>POS RESTAURANT</h1>
                    <h3>
                        The project develops a "Point of Sale" (POS) application specifically designed for restaurant use. The application was built using the C# programming language, leveraging the .NET framework with the Model-View-Controller (MVC) architectural pattern. The data is stored and managed by using a SQL database, with the addition of trigger functions.
                    </h3>
                    <p>This a group project from the course Advanced Database, these technology help me to create a user-friendly interface, implement business logic, manage data effectively for applications commonly used in restaurant environments in the future.</p>
                </div>
                
            </div>
            
        </div>
    </section>

    <section class="currency bd-container" id="currency">
        <div class="project-card projects-bd-flex">
            <div class="project-card-img">
                <img src="images/currency.png" alt="grocery">
            </div>
            <div class="project-card-component">
                <div class="project-card-article">
                    <h1>TY GIA VANG (Gold Price & Currency Rates)</h1>
                    <h3>
                        This mobile app provides information about gold prices and currency rates. The app is built using the React Native framework, with the backend powered by Node.js for the web API, and MongoDB serving as the database.
                    </h3>
                    <p>The app will likely include features such as real-time updates, historical data, and possibly a tool for exchanging different currencies. With this project, I combine different technologies to deliver a comprehensive mobile app that caters to users interested in tracking gold prices and currency rates. By leveraging React Native, Node.js, and MongoDB, it enables me to build a responsive, scalable, and efficient application.</p>
                </div>
                
            </div>
            
        </div>
    </section>
</main>

<%- include partials/footer.ejs %>
     
<%- include partials/bottom.ejs %> 
<script>
    // set active-link for nav-bar item 
    setActiveLink('item-projects');

</script>