<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<main class="l-main projects-lmain">
    <section class="grocery bd-container" id="grocery">
        <div class="project-card projects-bd-flex">
            <div class="project-card-img">
                <img src="images/oshop.png" alt="grocery">
            </div>
            <div class="project-card-component">
                <div class="project-card-article">
                    <h1>OSHOP</h1>
                    <h3>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
                    </h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                
            </div>
            
        </div>
    </section>

    <section class="restaurant bd-container" id="restaurant">
        <div class="project-card projects-bd-flex">
            <div class="project-card-img">
                <img src="images/restaurant.png" alt="grocery">
            </div>
            <div class="project-card-component">
                <div class="project-card-article">
                    <h1>POS RESTAURANT</h1>
                    <h3>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
                    </h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                
            </div>
            
        </div>
    </section>

    <section class="currency bd-container" id="currency">
        <div class="project-card projects-bd-flex">
            <div class="project-card-img">
                <img src="images/currency.png" alt="grocery">
            </div>
            <div class="project-card-component">
                <div class="project-card-article">
                    <h1>TY GIA VANG (Gold Price & Currency Rates)</h1>
                    <h3>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
                    </h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                
            </div>
            
        </div>
    </section>
</main>

<%- include partials/footer.ejs %>
     
<%- include partials/bottom.ejs %> 
<script>
    // set active-link for nav-bar item 
    setActiveLink('item-projects');

</script>