<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<main class="l-main">
    <!--========== SERVICES ==========-->
    <section class="" id="services">
        <div class="bd-container services-bd-flex ">
            <div class="service-card">
                <div class="service-card-container">

                    <h3 class="service-card-title">Frontend Developer</h3>
                    <p class="service-card-subtitle" class="">I focus on activities like designing the layout and visual elements of the application, implementing responsive design for different devices. I hope my users have an enjoyable and efficient experience.</p>
                    <div class="service-card-content">
                        <h3>Things I know</h3>
                        <p>HTML, CSS, Git, Javascript</p>
                    </div>
                    <div class="services-card-logo"><i class="fa-solid fa-code skill-logo-bl1"></i></div>

                </div>
            </div>

            <div class="service-card">
                <div class="service-card-container">

                    <h3 class="service-card-title">Database</h3>
                    <p class="service-card-subtitle">I offer database services in managing and organizing structured data efficiently, such as: retrieving, updating, and deleting data, ensuring data integrity and security.</p>
                    <div class="service-card-content">
                        <h3>Experience I have</h3>
                        <p>SQl DB, Oracle DB, MongoDB, FireBase Cloud Service</p>
                    </div>
                    <div class="services-card-logo"><i class="fa-solid fa-database skill-logo-bl2"></i></div>

                </div>

            </div>

            <div class="service-card">
                <div class="service-card-container">

                    <h3 class="service-card-title">Mobile Development</h3>
                    <p class="service-card-subtitle">I provide mobile development services such as designing, developing, testing, and deploying mobile applications for specific platforms.</p>
                    <div class="service-card-content">
                        <h3>Things I enjoy</h3>
                        <p>React Native Framework, Unity Game Engine</p>
                    </div>
                    <div class="services-card-logo"><i class="fa-solid fa-mobile skill-logo-bl3"></i></div>

                </div>

            </div>
        </div>
    </section>
</main>

<%- include partials/footer.ejs %>
     
<%- include partials/bottom.ejs %> 
<script>
    // set active-link for nav-bar item 
    setActiveLink('item-services');

</script>